@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS for sliding animation (add to a CSS file) */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  animation: slide 50s linear infinite;
}
